@use '../abstracts/index' as *;
@use '../base/index' as *;

.cta {
    //border-left: 100px solid dodgerblue;

    padding: 6em 1.5em;

    h2 {
        margin: 0 0 1.5em;
    }
    button {
        background-color: $primary-red;
        color: $primary-white;
        padding: 1.25em 2em;
    }

    .cta__bg-element {
        display: none;
    }

    @include mq($menu-break) {
        display: flex;
        justify-content: space-between;
        padding: 5em 3em;
        //border: 1px magenta solid;
        h2 {
            max-width: 50%;
            margin: 0;
        }

        button {
            //padding: 0;
            font-size: 1rem;
            //padding: 0 2em;
            height: 4rem;
            align-self: center;
        }
    }

    @include mq($desktop-break) {
        position: relative;
        padding: 7em 10em;
        box-shadow: -100px 0 0 0 white;

        .cta__bg-element {            
            display: block;
            position: absolute;
            left: -65px;
            top: 125px;
            
            // to hide the left half of red wavy element
            z-index: -1;
            //overflow:scroll;
            
        }
    }
}
