@use '../abstracts/index' as *;
@use '../base/index' as *;

.design__container {

    background-color: $primary-bg-black;
    color: $primary-white;
    margin-bottom: .5em;
    padding: 5em 2em 5em;   
    //border: 2px solid orange;
    margin-top: -35px;

    h2 span {
        color: $primary-red;
    }

    p {
        padding: 2em 0 1em;
        //border: 1px solid white;
        max-width: 400px;
        //margin: 0 auto;
    }

    button {
        font-size: 0.9375rem;
        background-color: $primary-bg-black;
        color: $primary-red;
        //border: none;
        border-bottom: 2px solid $primary-red;
        padding: 0 0 .5em;

    }

    @include mq($menu-break) {
        // display: grid;
        // //grid-template-columns: minmax(300px,1fr) 1fr 1fr;
        // //grid-template-rows: 245px 125px minmax(225px,1fr);
        // grid-template-columns: minmax(378px,1fr) 75px 1fr;
        // grid-template-rows: minmax(220px,1fr) 220px 220px ;

        // .design__container {
        //     //grid-row: 1 / -1;
        //     grid-row: 1 / 4;
        //     grid-column: 3 / 4; 
        //     padding: 8em 0;

        //     .design__title {
        //         max-width: 50%;
        //     }

        //     .design__statement {
        //         padding: 2.5em 0;
        //         max-width: 80%;
        //     }

        //     // button {
        //     //     margin-top: .5em;
        //     // }
        // }

        // .design__bg-element {
        //     display: block;
        //     grid-row: 2 / 3;
        //     grid-column: 2 / 3; 
        //     //background: fuchsia;
        //     left: -30px;
        // }

        // .design__picture {
        //     grid-row: 1 / -1;
        //     grid-row: 1 / -1;
        //     grid-column: 1 / 2;
        //     background: dodgerblue;
        //     //object-fit: cover;
        //     height: 100%;
        //     display: block;
        //     //object-fit: cover;

        //     & img {
        //         height: 100%;
        //         object-fit: cover;
        //     }
        // }

    }

}

.design__image {
    //border: 1px solid limegreen;
    width: 100%;
    height: auto;
    
}

.design__bg-element {
    //border: 1px solid dodgerblue;
    
    width: 63px;
    height: auto;
    position: relative;
    top: -18px;
    left: 30px;
    z-index: 10;
}