@use '../abstracts/index' as *;
@use '../base/index' as *;

// heading styles
header {
    padding: 2.5em 1.5em;
    position: relative;
    
    // media queries
    @include mq($menu-break) {
        
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 0;
    }
}

.header__logo {
    height: 30px;
    width: auto;

    @include mq($tablet-break) {
        margin: auto;
       
    }
    
    @include mq($desktop-break) {
        margin: auto 10em;
    }

}

.hide {
    display: none;

    @include mq($menu-break) {
        display: block;
    }
}

.adjust-height {
    height: 1px;
}

nav {
    background: $primary-bg-black;    
    height: 295px;
    width: 70%;
    max-width: 400px;
    position: absolute;
    z-index: 9;
    left: 25%;
    top: 108px;
    
    @include mq($menu-break) {

        background: $primary-red;
        max-width: unset;
        height: unset;
        position: unset;
        margin: 0;
        width: 57%;
        padding: 4em 1em;         
    }

    @include mq($desktop-break) {
        padding: 4em ;         
    }

    @include mq($large-desktop-break) {
        width: 50%;
        padding: 4em 8em 4em 4em; 
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        list-style: none;
        width: 100%;
        height: 100%;
        padding: 2em 0;        

        @include mq($menu-break) {
            padding: 0;
            position: unset;
            flex-direction: row;            
            z-index: 9;
        }
    }

    li {
        text-align: center;
        min-width: 80%;

        @include mq($menu-break){
            min-width: unset;
        }    
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: $primary-white; 
        display: inline-block;
        width: 80%;
        height: 100%;
        padding: 1em ;
        
        @include mq($tablet-break) {
            width: 100%;
            padding: 1.25em 1em;
            font-size: .9375rem;
        }

        @include mq($desktop-break) {
            font-size: 1rem;
        }

        &:hover {
            background-color: $primary-red;
            box-shadow: 0px 5px 0px 0px $primary-red, 0px -5px 0px 0px $primary-red;
            @include mq($menu-break){
            }

            @include mq($tablet-break) {
                background-color: $primary-bg-black;
                box-shadow: unset;

                &:hover {
                    background-color: $primary-bg-black-accent;
                }
            }

            @include mq($desktop-break) {
                box-shadow: 1em 0px 0px 0px $primary-bg-black, -1em 0px 0px 0px $primary-bg-black;
                &:hover {
                    box-shadow: 1em 0px 0px 0px $primary-bg-black-accent, -1em 0px 0px 0px $primary-bg-black-accent;
                }
            }
        }
    }
}

.nav-toggle {
    padding: 1em .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;

    @include mq($menu-break) {
        display: none;
    };
}

// 
.nav-open {
    
    .nav {
        transform: translateX(0);
    }

    .nav-toggle {
        position: fixed;
    }

    .hamburger {
        transform: rotate(.625turn);

        &::before {
            transform: rotate(90deg) translateX(-8px);
        }

        &::after {
            opacity: 0;
        }
    }
}

// hamburger styling

.hamburger {
    display: block;
    position: relative;
    margin-top: 1em;
    height: 2px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: $primary-hamburger;
    width: 2em;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: inherit;
}

.hamburger::before { top: 8px; }
.hamburger::after { bottom: 8px; }