@use '../abstracts/index' as *;
@use '../base/index' as *;

.projects__carousel {   
    position:relative;

    // overlay to darken the image
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width:100%; 
        height:100%;
        display: inline-block;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.6)   );
    }

    .project__carousel-item,    
    .project__carousel-item--hidden,
    .product__carousel-item-title,
    .product__carousel-item-title--hidden {
        display: none;
    }

    .project__carousel-item--visible,
    .product__carousel-item-title--visible {
        display: block;
    }

    .product__carousel-item-description {
        position: absolute;
        top: 78%;  
        width: 80%;      
        left: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: $primary-white;
        z-index: 99;

        .product__carousel-item-description-title {
            font-weight: fw(extraBold);
        }
    }
}

.project__carousel-nav {
    padding: 4.5em 2em 3em;
    background: $primary-bg-black;
    color: $primary-white;
    margin-top: -4px;
    
    .product__carousel-item-title,
    .product__carousel-item-title--hidden {
        display: none;
    }

    .product__carousel-item-title--visible {
        display: block; 
    }

    h2 {
        margin: 0 0 1em;
    }

    button {
        background: $primary-bg-black;
        margin-right: 1em;

        &:hover {
            // lighten arrow SVG files when hovered            
            img {
                filter: invert(82%) sepia(88%) saturate(1535%) hue-rotate(299deg) brightness(116%) contrast(118%);
            }
        }
    }
}

.project__image {
    width: 100%;
    height: auto;
    display: block;
}

.product__bg-element {
    display: none;
    width: 63px;
    height: auto;
}