@use './abstracts/index' as *;
@use './base/typography' as *;
@use './components/index' as *;

html {
    scroll-behavior: smooth;
    max-width: 1440px;
    margin: 0 auto;
    //background-color: black;
    //z-index: 300;
    border-left: 1px solid dodgerblue;
    
}
